<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Submittion</title>
</head>
<body>
    <h1> NGO Name : <%= selected_ngo.name %></h1>
    <form action="/ngo_dashboard/<%=ngoId%>" method="POST">
        <label for="message"> Any Message : </label>
        <textarea name="message" id="message"></textarea>
        <h2>Food Details : </h2>
            <% food_data.donated.map((food) =>{ %>
                <li><%=food.name%></li>
                <li><%=food.quantity%></li>
            <%})%>
        <br>
        <br>
        <button>Send Request!</button>
    </form>

</body>
</html>