<link rel="icon" type="image/x-icon" href="/Food_Waste_Reduction/src/public/Logos.ico">

<header>
    <div class="Block1">
        <nav class="navbar">
            <a class="navbar-brand" href="#">
                <img src="../assets/images/Logo.png" alt="Logo" width="60px" height="60px"
               href="/home.js"      class="d-inline-block align-text-top">
                <h4>Food For  G</h4>
            </a>
            <div class="navbar-items">
                <ul>
                    <li class="nav-item"><a href="/about-us">About Us</a></li>
                    <!-- <li class="nav-item"></li> -->
                    <li class="nav-item"><a href="">Mission</a></li>
                    <li class="nav-item"><a href="">Success Story</a></li>
                    <li class="nav-item"><a href="">Statistics</a></li>
                    <% if(currUser) {%>
                        <li class="nav-item nav-btn"><a href="/logout">Logout</a></li>
                        <% } %>
                            <% if(!currUser) {%>
                                <li class="nav-item nav-btn nav-btn-left"><a href="/login">Login</a></li>
                                <% } %>
                </ul>
            </div>
            <div class="hamburgur">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
        <div class="dropdown">
            <ul>
                <li class="nav-item">About Us</li>
                <!-- <li class="nav-item">Causes</li> -->
                <li class="nav-item">Mission</li>
                <li class="nav-item">Success Story</li>
                <li class="nav-item">Statistics</li>
                <li class="nav-item nav-btn nav-btn-left"><a href="/login">Login</a></li>
                <li class="nav-item nav-btn"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</header>
