<link rel="icon" type="image/x-icon" href="/Food_Waste_Reduction/src/public/Logos.ico">

<header>
    <div class="Block1">
        <nav class="navbar">
            <a class="navbar-brand" href="#">
                <img src="../assets/images/Logo.png" alt="Logo" width="60px" height="60px"
               href="/home.js"      class="d-inline-block align-text-top">
                <h4>Share Bites</h4>
            </a>
            <div class="navbar-items">
                <ul>
                    <li class="nav-item nav-btn"> <a href="/aboutus">About us</a></li>

                    <li class="nav-item nav-btn"><a href="/causes">Causes</a>
                     <li class="nav-item nav-btn"><a href="/donation_confirm">Donate Now</a></li>

                        <li class="nav-item nav-btn nav-btn-left"><a href="/login">Login</a></li>
                        <li class="nav-item nav-btn"><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <div class="hamburgur">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
        <div class="dropdown">
            <ul>    
                <li href="/src/views/aboutus.ejs" class="nav-item">About Us</li>
                <li class="nav-item"><a href="/Food_Waste_Reduction/src/views/causes.ejs">Causes</a>
                <li class="nav-item">Mission</li>
                <li class="nav-item">Success Story</li>
                <li href="/contacts" class="nav-item">Contact</li>
                <li class="nav-item nav-btn nav-btn-left"><a href="/login">Login</a></li>
                <li class="nav-item nav-btn"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</header>
