<% layout('/layouts/boilerplate') -%>

<body>

    
    <main id="akc-main-body"class="owl-carousel">
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="col-md-6">
                <h2 class="heading-underline underline-left d-md-block d-sm-none d-none">O</h2>
                <p>Food for good  is an initiative in Vadodra with the objective of eradicating hunger in a sustainable and scalable way. It is an initiative  for connecting Ngo of city under one platform </p>
                <div class="row align-items-center m-auto">
                    <div class="col-12 p-0 d-flex justify-content-start align-items-start">
                        <div class="akc-content-desc">
                            <h4 class="ps-3">Swasthya Ahara</h4>
                            <p class="ps-3">Providing free, unlimited, nutritious lunch to patients' families keeps them healthy and helps save for medication.</p>
                        </div>
                    </div>
                    <div class="col-12 p-0 d-flex justify-content-start align-items-start">
                        <div class="akc-content-desc">
                            <h4 class="ps-3">Paushtik Ahara</h4>
                            <p class="ps-3">Providing free, unlimited, nutritious lunch combined with education prepares children in slum areas for a bright future.</p>
                        </div>
                    </div>
                    <div class="col-12 p-0 d-flex justify-content-start align-items-start">
                        <div class="akc-content-desc">
                            <h4 class="ps-3">Bal Shiksha Ahara</h4>
                            <p class="ps-3 mb-0">Providing free, millet-based nutritious breakfast counters classroom hunger for better learning.</p>
                        </div>
                    </div>
                </div>
             </div>
 
    </main>
</body>