<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Details</title>
</head>
<body>
    <form action="/food_details/<%= userId %>" method="POST">
        <label for="food_name">Enter the food Name</label>
        <input type="text" name="food_name" placeholder="Enter food name">
        <label for="food_quantity">Enter the food Quantity</label>
        <input type="number" name="food_quantity" id="food_quantity" placeholder="Enter Quantity">
        <select name="unit" id="unit">
            <option value="kg">Kg</option>
            <option value="gram">gram</option>
            <option value="plate">plate</option>
        </select>
        <br><br><br>
        <button>Select NGOs</button>
        <br><br>
        <form action="">
            <button>All Nearby NGOs</button>
        </form>
    </form>
    <br><br><br>
    <a href="/home">Home</a>
</body>
</html>