<% layout('/layouts/boilerplate') -%>
<body>
    <main>
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item"
                style="background-image:url('../assets/images/image-1.avif') ; background-size: cover; background-position: center;">
                <div class="container">
                    <div class="header-text">
                        <h1>
                            Be the Reason.
                            <br>
                            Someone Eats Today.
                        </h1>
                        <p>Your simple act of kindness can bring hope and nourishment to the hungry.
                            <br>
                        </p>
                        <div class="donate_btn">
                            <a href="/listing">DONATE NOW<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

         
            <section class="help">
                <div class="container">
                    <div class="header-text">
                        <h1>
                            Fight Hunger.
                            <br>
                            Not Food Waste.
                        </h1>
                        <p>Make a difference by sharing your surplus food with those who need it most.
                            <br>
                        </p>
                        <div class="donate_btn">
                            <a href="/listing">DONATE NOW<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ngo">
                <div class="container">
                    <div class="header-text">
                        <h1>
                            Give a little.
                            <br>
                            Change a lot.
                        </h1>
                        <p>Sometimes, even the smallest gesture can create the biggest impact.
                            <br>
                            By sharing just a little extra food, you’re not only preventing waste.          
                        </p>
                        <div class="donate_btn">
                            <a href="/listing">DONATE NOW<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="charity">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-12 left"
                            style="background-image: url('assets/images/charity-img.avif');">
                        </div>
                        <div class="col-lg-6 col-12 right">
                            <h3>Big Charity Funds For Childs.</h3>
                            <p>Donate & support our work today.</p>
                            <hr>
                            <div class="menu">
                                <h6>OUR MISSION</h6>
                                <h6>OUR VISION</h6>
                                <h6>OUR EXPERIENCE</h6>
                            </div>
                            <div class="menu_items">
                                <div class="menu-item">
                                    <p>Our mission is to bridge the gap between abundance and need by channeling surplus
                                        food to the hungry and underprivileged. Guided by compassion, responsibility,
                                        and the values of community service, we strive to reduce food waste while
                                        ensuring that no meal goes to waste when it can nourish a life in need. Through
                                        collaboration with individuals, organizations, and volunteers, we aim to build a
                                        sustainable network of food donors and recipients—fostering a culture of giving,
                                        gratitude, and social responsibility.


                                    </p>

                                </div>
                                <div class="menu-item">
                                    <p>
                                        We envision a society where no one sleeps hungry and every surplus meal finds
                                        its way to a deserving hand. Rooted in the timeless values of compassion,
                                        sharing, and social harmony, our vision is to create a world where food is
                                        respected, waste is minimized, and humanity stands united in the service of
                                        others. Through sustained efforts and collective goodwill, we aspire to build a
                                        future where food donation is not just an act, but a way of life.
                                    </p>
                                    <p></p>
                                </div>

                                <div class="menu-item">
                                    <p>Our experience in food donation has been both eye-opening and soul-stirring. What
                                        began as a small initiative—distributing surplus food to the needy—soon grew
                                        into a consistent and organized effort to reduce hunger in our community. We’ve
                                        had the privilege of serving meals to orphanages, old age homes, roadside
                                        dwellers, and those affected by natural calamities.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 right-content">
                        <h6>HELP THE HUNGRY PEOPLE</h6>
                        <h3>Thousand of children starve daily!</h3>
                        <p>Thousands of children go to bed hungry every day, their basic right to food denied.
                            This silent crisis continues in many parts of the world, often unnoticed.
                            Together, we can take action and bring hope to their lives.</p>
                        <div class="help-donate_btn">
                            <a href="/listing">DONATE TODAY</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row help-cards">
                    <div class="col-lg-4 help-card">
                        <div class="row">
                            <div class="col-lg-2 col-md-1 col-sm-1 left"><i class="fa-regular fa-heart"></i></div>
                            <div class="col-lg-10 col-md-11 col-sm-11 right">
                                <h6>Donate Now</h6>
                                <p>You are one step away from saving someone's life — your action can bring food to a starving child.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 help-card">
                        <div class="row">
                            <div class="col-lg-2 col-md-1 col-sm-1 left"><i class="fa-regular fa-face-smile"></i></div>
                            <div class="col-lg-10 col-md-11 col-sm-11 right">
                                <h6>Support Us</h6>
                                <p> Support us in our mission to fight hunger and bring hope to vulnerable children.
                                    Your contribution, big or small, can create a lasting impact.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 help-card">
                        <div class="row">
                            <div class="col-lg-2 col-md-1 col-sm-1 left"><i class="fa-solid fa-globe"></i></div>
                            <div class="col-lg-10 col-md-11 col-sm-11 right">
                                <h6>Stop Wastage</h6>
                                <p>Every grain wasted is a missed opportunity to feed someone in need.
                                    Food wastage not only harms the planet but deepens the hunger crisis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ngo">
            <div class="container">
                <h6>FOOD FOR EVERYONE , EVERYWHERE</h6>
                <p>Food for Good transforms excess into hope by rescuing surplus food for the hungry.
                    We bridge the gap between waste and want, one meal at a time.
                    Join us in turning food waste into a lifeline for those in need..</p>
            </div>
        </section>
        <section class="our-cause">
            <div class="container">
                <div class="headings">
                    <h2 class="heading">OUR CAUSES</h2>
                    <p class="sub-heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut laudantium,
                        tempore culpa debitis, quasi veritatis velit, impedit eius recusandae eum aperiam nam nobis
                        perferendis reprehenderit animi hic facilis totam esse.</p>
                </div>
                <div class="row causes-cards">
                    <div class="col-lg-3 col-md-6 col-sm-6 causes-card">
                        <div class="upper">
                            <i class="fa-solid fa-droplet"></i>
                            <h6>CLEAN WATER</h6>
                        </div>
                        <div class="lower">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisiFcing elit. Provident ea, illum rem
                                eveniet
                                officia eos explicabo nesciunt!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 causes-card">
                        <div class="upper">
                            <i class="fa-solid fa-sack-dollar"></i>
                            <h6>SPONSERSHIP</h6>
                        </div>
                        <div class="lower">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisiFcing elit. Provident ea, illum rem
                                eveniet
                                officia eos explicabo nesciunt!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 causes-card">
                        <div class="upper">
                            <i class="fa-solid fa-shield-heart"></i>
                            <h6>HEALTH PRO</h6>
                        </div>
                        <div class="lower">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisiFcing elit. Provident ea, illum rem
                                eveniet
                                officia eos explicabo nesciunt!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 causes-card">
                        <div class="upper">
                            <i class="fa-solid fa-book"></i>
                            <h6>BOOKS</h6>
                        </div>
                        <div class="lower">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisiFcing elit. Provident ea, illum rem
                                eveniet
                                officia eos explicabo nesciunt!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="charity">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-12 left" style="background-image: url('assets/images/charity-img.avif');">
                    </div>
                    <div class="col-lg-6 col-12 right">
                        <h3>Your little Initiative can change a lot.</h3>
                        <p>Donate & support our us and the community.</p>
                        <hr>
                        <div class="menu">
                            <h6>OUR MISSION</h6>
                            <h6>OUR VISION</h6>
                            <h6>MOST TRUSTED</h6>
                            <h6>OUR EXPERIENCE</h6>
                        </div>
                        <div class="menu_items">
                            <div class="menu-item">
                                <p>Our mission is to eliminate food waste and fight hunger by creating a seamless platform that connects food donors with NGOs and people in need. We aim to empower individuals, restaurants, and event organizers to share their surplus food, ensuring it reaches the right hands at the right time.
                                </p>
                                <p>
                                    By leveraging technology and building a strong network of compassionate communities, we strive to make food donation simple, reliable, and impactful. We are committed to creating a world where every meal is valued, every person is fed, and no food is left behind.
                                </p>
                            </div>
                            <div class="menu-item">
                                <p>We envision a world where no one sleeps hungry while food is thrown away needlessly. Our mission is to build a bridge between abundance and need — where surplus food from homes, events, and businesses finds its way to empty plates, not landfills. Through technology, community, and compassion, we aim to make food redistribution simple, efficient, and impactful.
                                </p>
                                <p> We believe that every meal matters. Our vision is not just about feeding the hungry, but about creating a culture of awareness, responsibility, and empathy. Together with generous donors and dedicated NGOs, we’re striving for a future where zero food waste isn’t just an idea — it’s a reality.</p>
                            </div>
                            <div class="menu-item">
                                <p>Over time, we’ve built a strong and growing network of trusted donors, NGOs, and volunteers who share a common goal — to fight hunger and reduce food waste. From individuals to large organizations, people rely on our platform to ensure their contributions make a real impact. Their continued support reflects the trust we've earned through transparency, timely service, and genuine care.
                                </p>
                                <p>We take pride in being a reliable bridge between those who have food to give and those who need it most. Every donation is handled responsibly, and every collection is carried out with integrity. With each successful handover, we strengthen our promise to serve communities with honesty, compassion, and trust.</p>
                            </div>
                            <div class="menu-item">
                                <p>With dedicated efforts over time, we’ve gained valuable experience in managing food donations efficiently and responsibly. From small home-cooked meals to large-scale event leftovers, we’ve handled a wide range of contributions with care and precision. Each donation has taught us how to improve logistics, respond faster, and serve communities better.
                                </p>
                                <p>Our journey has been shaped by real stories, real people, and real impact. We’ve collaborated with passionate NGOs, built meaningful relationships with donors, and witnessed firsthand how one act of sharing can bring smiles to many faces. This experience drives us every day to refine our process, expand our reach, and continue being a dependable force in the fight against hunger.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="you-help">
            <div class="container">
                <div class="headings">
                    <div class="heading">
                        <h2>HOW CAN YOU HELP</h2>
                    </div>
                    <div class="sub-heading">
                        <p>Donate excess food from events, restaurants, or your home to reduce waste and feed the hungry.</p>
                        <p>Connect with local NGOs ready to collect and distribute food where it's needed most.</p>
                        <p>Spread awareness and encourage others to join the movement against food waste.</p>
                    </div>
                </div>
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VGTPKKOVoz4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
                <!-- <div class="row you-help-cards">
                    <div class="col-lg-3 col-md-6 col-sm-6 you-help-card">
                        <i class="fa-solid fa-money-bill-wave"></i>
                        <h6>DONATE MONEY</h6>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, iure odio culpa atque
                            temporibus quia nam doloremque quam!</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 you-help-card">
                        <i class="fa-regular fa-hand-back-fist"></i>
                        <h6>BECOME VOLUNTEER</h6>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, iure odio culpa atque
                            temporibus quia nam doloremque quam!</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 you-help-card">
                        <i class="fa-solid fa-book-open"></i>
                        <h6>CHILD EDUCATION</h6>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, iure odio culpa atque
                            temporibus quia nam doloremque quam!</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 you-help-card">
                        <i class="fa-regular fa-heart"></i>
                        <h6>MEDICINE</h6>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, iure odio culpa atque
                            temporibus quia nam doloremque quam!</p>
                    </div> -->
                </div>
            </div>
        </section>
        <section class="cindy"
            style="background-image: url('assets/images/cindy.avif'); background-size: cover; background-position: center;">
            <div class="container-fluid">
                <div class="cindy-content">
                    <h6>YOUR LITTLE HELP NEEDED</h6>
                    <h3>BE A REASON SOMEONE DOESN'T SLEEP HUNGRY</h3>
                    <p>Every day, millions go to bed hungry while edible food goes to waste.
                        Your small act of kindness can fill a plate and a heart.</p>
                    <div class="help-donate_btn">
                        <a href="/listing">DONATE NOW<i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="calculator">
            <div class="container">
                <div class="row cal-items">
                    <div class="col-lg-3 col-md-6 col-sm-6 cal-item">
                        <h3 id="1500">0</h3>
                        <p>Successful Donations</p>
                        <div class="divider"></div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 cal-item">
                        <h3>1400</h3>
                        <p>NGO Registered</p>
                        <div class="divider"></div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 cal-item">
                        <h3>1250</h3>
                        <p>Cities</p>
                        <div class="divider"></div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 cal-item">
                        <h3>1600</h3>
                        <p>Villages</p>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <section class="success-story">
            <div class="container-fluid">
                <div class="headings">
                    <div class="heading">
                        <h2>SUCCESS STORY</h2>
                    </div>
                    <div class="sub-heading">
                        Meet the heroes in our community — kind-hearted individuals who chose not to waste, but to give. From families sharing leftover home-cooked meals to event organizers donating surplus food after large gatherings, their efforts have made a real difference. Thanks to them, countless empty stomachs were filled, and no meal went to waste. Their stories remind us that compassion is powerful — and it starts with a simple act of sharing.
                    </div>
                </div>
                <div class="stories">
                    <div class="story">
                        <div class="upper">
                            <img src="assets/images/image-1.png" alt="">
                        </div>
                        <div class="lower">
                            <div class="title">
                                <p>A Wedding Feast That Fed a Community</p>
                            </div>
                            <!-- <h6>CREATIVITY TAKES COURAGE</h6> -->
                            <p>After a wedding, a generous family donated surplus food through our platform. Within an hour, a local NGO collected it and served 150+ people in a nearby slum, turning waste into a warm meal for a community.</p>
                        </div>
                    </div>
                    <div class="story">
                        <div class="upper">
                            <img src="assets/images/image-2.jpg" alt="">
                        </div>
                        <div class="lower">
                            <div class="title">
                                <p>School Lunches Saved and Shared</p>
                            </div>
                            <!-- <h6>CREATIVITY TAKES COURAGE</h6> -->
                            <p>A school canteen used to waste leftover lunches until they joined our initiative. Now, those meals feed dozens of underprivileged children daily, turning waste into nourishment for the community.</p>
                        </div>
                    </div>
                    <div class="story">
                        <div class="upper">
                            <img src="assets/images/image-3.avif" alt="">
                        </div>
                        <div class="lower">
                            <div class="title">
                                <p>One Family's Routine, Many Lives Changed</p>
                            </div>
                            <!-- <h6>CREATIVITY TAKES COURAGE</h6> -->
                            <p>A working couple began donating their untouched meals every weekend. Over time, their contributions added up to 300+ meals for the homeless, becoming a quiet yet powerful force of change.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="client-logo">
            <div class="container">
                <div class="row logos">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6 logo">
                        <img src="assets/images/client-logo-1.png" alt="">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6 logo">
                        <img src="assets/images/client-logo-2.png" alt="">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6 logo">
                        <img src="assets/images/client-logo-3.webp" alt="">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6 logo">
                        <img src="assets/images/client-logo-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="help-form">
            <div class="container">
                <div class="row form-content">
                    <div class="col-lg-6 col-md-12 left"
                        style="background-image: url('assets/images/form-image.avif'); background-size: cover;">
                    </div>
                    <div class="col-lg-6 col-md-12 right">
                        <h6>SERVE THE HUMANITY</h6>
                        <h3>Some people really need your help</h3>
                        <form action="">
                            <!-- <label for="name"></label>
                            <input style="width: 100%;" type="text" id="name" placeholder="*Your Name">
                            <label for="email"></label>
                            <input style="width: 100%;" type="text" id="email"
                                placeholder="*Your Email"> -->
                            <div class="sign-in">
                                <a href="/login">SIGN UP NOW</a>
                            </div>
                    </form>
                    </div>
                </div>

            </div>
        </section>
        <section class="any-questions">
            <div class="container">
                <div class="headings">
                    <div class="heading">
                        <h2>Any Questions</h2>
                    </div>
                    <div class="sub-heading">
                        <p>Have any questions or need more information? We're here to help! Feel free to reach out to us — we’d love to assist you and guide you through the process of donating or getting involved.</p>
                    </div>
                </div>
                <div class="contacts">
                    <div class=" contact">
                        <i class="fa-solid fa-location-dot"></i>
                        <h6>Contact Address</h6>
                        <p>301 The Greenhouse ,Custard,<br>Factory ,London, E2 8DY.</p>
                    </div>
                    <div class="contact">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                        <h6>Call Us Today!</h6>
                        <p>(M) +44 (0) 123 456 7890
                            <br>
                            (O) +44 (0) 123 456 7890
                        </p>
                    </div>
                    <div class="contact">
                        <i class="fa-regular fa-envelope"></i>
                        <h6>Email</h6>
                        <p>
                            savefoodforgood@gmail.com
                        </p>
                    </div>
                    <div class="contact">
                        <i class="fa-regular fa-clock"></i>
                        <h6>Working Hours</h6>
                        <p>Mon to Sat - 9 AM to 11 PM
                            <br>
                            Sunday - 10 AM to 6 PM
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>