<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
    <div style="display: flex; justify-content: space-between;">
        <h1>Email : </h1>
        <form action="/food_details">
            <button>Donate</button>
        </form>

        <a href="/donar_signup"> Signup as Donar </a>
        <a href="/ngo_signup"> Signup as NGO </a>
        <a href="/login"> Login</a>
        
        
        <a href="/logout">Logout</a>
        
    </div>
    <script>

    </script>
</body>
</html>