 <% layout('/layouts/boilerplate') -%>
 <link rel="stylesheet" href="../public/css/home.css">

    <body>
        <main>
            <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item"
                    style="background-image:url('../assets/images/image-1.avif') ; background-size: cover; background-position: center;">
                    <div class="container">
                        <div class="header-text">
                            <h1>
                                Give a little.
                                <br>
                                Change a lot.
                            </h1>
                            <p>"One small bite can make things right,
                                Donate today, bring hope and light!."
                                <br>

                            <div class="donate_btn">
                                <a href="/food_details/">DONATE NOW <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"
                    style="background-image: url('../assets/images/image-2.avif'); background-size: cover; background-position: center;">
                    <div class="container">
                        <div class="header-text">
                            <h1>
                                Your Extra Food .
                                <br>
                                Can someone Meal.
                            </h1>
                            <p> "Give a meal, spread the cheer,
                                No one should go hungry here!"

                            </p>
                            <div class="donate_btn">
                                <a href="/food_details">DONATE NOW<i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"
                    style="background-image: url('../assets/images/image-3.avif'); background-size: cover; background-position: center;">

                    <div class="container">
                        <div class="header-text">
                            <h1>
                                Give a little.
                                <br>
                                Change a lot.
                            </h1>
                            <p>
                                If you ve got more, don’t ignore,
                                <br>
                                Pass it on, help the poor!
                            </p>
                            <div class="donate_btn">
                                <a href="/food_details">DONATE NOW<i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

         
            <section class="help">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <img class="help-image" src="assets/images/help-image.avif" alt="">
                        </div>
                        <div class="col-lg-6 right-content">
                            <h6>HELP THE POOR PEOPLE</h6>
                            <h3>Thousand of children are waiting for help!</h3>
                            <p>Every day, vulnerable children around the world face unimaginable challenges, lack of
                                education, inadequate healthcare, and unsafe living conditions. Behind each statistic is
                                a child with dreams, potential, and the right to a better future.</p>
                            <div class="help-donate_btn">
                                <a href="/food_details">DONATE TODAY</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row help-cards">
                        <div class="col-lg-4 help-card">
                            <div class="row">
                                <div class="col-lg-2 col-md-1 col-sm-1 left"><i class="fa-regular fa-heart"></i></div>
                                <div class="col-lg-10 col-md-11 col-sm-11 right">
                                    <h6>Donate Now</h6>
                                    <p>Your gift brings immediate relief to children in crisis. Every donation,
                                        regardless of size, provides essential food, medicine, and shelter to those who
                                        need it most. Our transparent funding model ensures 92% of contributions
                                        directly support children in need.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 help-card">
                            <div class="row">
                                <div class="col-lg-2 col-md-1 col-sm-1 left"><i class="fa-regular fa-face-smile"></i>
                                </div>
                                <div class="col-lg-10 col-md-11 col-sm-11 right">
                                    <h6>Volunteer</h6>
                                    <p>Become a volunteer and transform lives with your time and skills. Whether you can
                                        or monthly, in-person or remotely, we have opportunities that match your
                                        interests and availability.     Join our community of compassionate individuals
                                        making a real difference.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 help-card">
                            <div class="row">
                                <div class="col-lg-2 col-md-1 col-sm-1 left"><i class="fa-solid fa-globe"></i></div>
                                <div class="col-lg-10 col-md-11 col-sm-11 right">
                                    <h6>Partner</h6>
                                    <p>Partner with us globally to create sustainable change. businesses and community
                                        groups can participate in our collaborative programs that address the root
                                        causes of child poverty.
                                        Together, we can build lasting solutions that empower communities worldwide.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ngo">
                <div class="container">
                    <div class="row">
                    <h2 class="heading">Our NGO</h2>

                    <div class="card" style="width: 18rem;padding: 12px;">
                        <img src="" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Seva</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>

                      <div class="card" style="width: 18rem;padding: 12px;">
                        <div class="card-body">
                          <h5 class="card-title">Akshaya Patra</h5>
                          
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>


                      <div class="card" style="width: 18rem;padding: 12px;">
                        <div class="card-body">
                          <h5 class="card-title">Robin-hood-Army</h5>
                          
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>


                      </div>
                      <br/><br/>
                      </div>

            </section>
            <section class="our-cause">
                <div class="container">
                    <div class="headings">
                        <h2 class="heading">OUR CAUSES</h2>
                        <p class="sub-heading">We believe that every child deserves the fundamental resources needed to
                            thrive. Our comprehensive approach addresses the core challenges facing vulnerable children
                            worldwide through targeted, sustainable programs.</p>
                    </div>
                    <div class="row causes-cards">
                        <div class="col-lg-3 col-md-6 col-sm-6 causes-card">
                            <div class="upper">
                                <i class="fa-solid fa-bowl-rice"></i>
                                <h6>REDUCE HUNGER </h6>
                            </div>
                            <div class="lower">
                                <p>
                                    Provides nutritious meals to underprivileged communities, children, and the
                                    homeless.
                                    Helps ensure food security for low-income families.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 causes-card">
                            <div class="upper">
                                <!-- <i class="fa-solid fa-sack-dollar"></i> -->
                                <i class="fa-solid fa-building-ngo"></i>
                                <h6>SUPPORTS LOCAL CHARITIES AND NGO</h6>
                            </div>
                            <div class="lower">
                                <p>
                                    Reducing food waste directly benefits local charities and NGOs by ensuring that
                                    surplus food is redirected to those in need rather than being discarded.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 causes-card">
                            <div class="upper">
                                <i class="fa-solid fa-shield-heart"></i>
                                <h6>HEALTH PRO</h6>
                            </div>
                            <div class="lower">
                                <p>

                                    Our health program delivers essential medical care to children in underserved
                                    communities through mobile clinics, vaccination campaigns, and trained community
                                    health workers.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 causes-card">
                            <div class="upper">
                                <i class="fa-solid fa-wheat-awn"></i>

                                <h6>REDUCE MALNUTRITION</h6>
                            </div>
                            <div class="lower">
                                <p>Our nutrition programs combat childhood hunger and malnutrition through emergency
                                    food relief, school feeding programs, and agricultural training for families.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="charity">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-12 left"
                            style="background-image: url('assets/images/charity-img.avif');">
                        </div>
                        <div class="col-lg-6 col-12 right">
                            <h3>Big Charity Funds For Childs.</h3>
                            <p>Donate & support our work today.</p>
                            <hr>
                            <div class="menu">
                                <h6>OUR MISSION</h6>
                                <h6>OUR VISION</h6>
                                <h6>OUR EXPERIENCE</h6>
                            </div>
                            <div class="menu_items">
                                <div class="menu-item">
                                    <p>Our mission is to bridge the gap between abundance and need by channeling surplus
                                        food to the hungry and underprivileged. Guided by compassion, responsibility,
                                        and the values of community service, we strive to reduce food waste while
                                        ensuring that no meal goes to waste when it can nourish a life in need. Through
                                        collaboration with individuals, organizations, and volunteers, we aim to build a
                                        sustainable network of food donors and recipients—fostering a culture of giving,
                                        gratitude, and social responsibility.


                                    </p>

                                </div>
                                <div class="menu-item">
                                    <p>
                                        We envision a society where no one sleeps hungry and every surplus meal finds
                                        its way to a deserving hand. Rooted in the timeless values of compassion,
                                        sharing, and social harmony, our vision is to create a world where food is
                                        respected, waste is minimized, and humanity stands united in the service of
                                        others. Through sustained efforts and collective goodwill, we aspire to build a
                                        future where food donation is not just an act, but a way of life.
                                    </p>
                                    <p></p>
                                </div>

                                <div class="menu-item">
                                    <p>Our experience in food donation has been both eye-opening and soul-stirring. What
                                        began as a small initiative—distributing surplus food to the needy—soon grew
                                        into a consistent and organized effort to reduce hunger in our community. We’ve
                                        had the privilege of serving meals to orphanages, old age homes, roadside
                                        dwellers, and those affected by natural calamities.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <section class="you-help">
                <div class="container">
                    <div class="headings">
                        <div class="heading">
                            <h2>HOW CAN YOU HELP</h2>
                        </div>
                        <div class="sub-heading">
                            <p>Helping food donation involves several key strategies, whether as an individual,
                                organization, or through technology. Here are some ways you can contribute</p>
                        </div>
                    </div>



                    <div class="video">

                    </div>
                    <div class="donate-food">
                        <div class="col-lg-3 col-md-6 col-sm-6 you-help-card">
                            <i class="fa-solid fa-bowl-food"></i>
                            <h6>DONATE FOOD</h6>
                            <p>Share meal spread smile donate food make difference today
                            </p>
                        </div>
                    
                        <div class="col-lg-3 col-md-6 col-sm-6 you-help-card">
                            <i class="fa-regular fa-hand-back-fist"></i>
                            <h6>BECOME VOLUNTEER</h6>
                            <p>When you volunteer with us, you don’t just serve food — you serve hope, dignity, and
                                compassion. </p>
                        </div>
                        
                    </div>
                </div>
            </section>
            <section class="cindy"
                style="background-image: url('assets/images/cindy.avif'); background-size: cover; background-position: center;">
                <div class="container-fluid">
                    <div class="cindy-content">
                        <h6>YOUR LITTLE HELD NEEDED</h6>
                        <p></p>
                        <div class="help-donate_btn">
                            <a href="">DONATE NOW<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="calculator">
                <div class="container">
                    <div class="row cal-items">
                        <div class="col-lg-3 col-md-6 col-sm-6 cal-item">
                            <h3 id="400">400</h3>
                            <p>Successful Projects</p>
                            <div class="divider"></div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 cal-item">
                            <h3>1400</h3>
                            <p>People Impacted</p>
                            <div class="divider"></div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 cal-item">
                            <h3>1250</h3>
                            <p>Food Donated</p>
                            <div class="divider"></div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 cal-item">
                            <h3>1600</h3>
                            <p>Total Volunteer</p>
                            <div class="divider"></div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <section class="success-story">
                <div class="container-fluid">
                    <div class="headings">
                        <div class="heading">
                            <h2>SUCCESS STORY</h2>
                        </div>
                        <div class="sub-heading">
                            The journey started when a group of young volunteers noticed the alarming quantity of food
                            being discarded daily by restaurants, hostels, and households. Guided by the timeless Indian
                            principle of “Annadaanam – the highest form of charity”, they came together to form Food for
                            Good – a platform that would bridge the gap between surplus and scarcity.
                        </div>
                    </div>
                    <div class="stories">
                        <div class="story">
                            <div class="upper">
                                <img src="assets/images/image-1.avif" width="25px" height="60px">
                            </div>
                            <div class="lower">
                                <div class="title">
                                    <p>MARTIN SMITH 29 JULY , 2025</p>
                                </div>
                                <h6> Nourishing Lives - A Journey of Food Donation</h6>
                                <p>In a small town nestled in the heart of Maharashtra, a group of young engineers saw a
                                    pressing issue that had long plagued their society: excessive food waste on one
                                    hand, and hunger on the other. Motivated by traditional values of “Anna Dana” – the
                                    sacred act of donating food – they took it upon themselves to build a bridge between
                                    the two.</p>
                            </div>
                        </div>
                        <div class="story">
                            <div class="upper">
                                <img src="assets/images/image-2.avif" alt="">
                            </div>
                            <div class="lower">
                                <div class="title">
                                    <p>MARTIN SMITH 29 JULY , 2022</p>
                                </div>
                                <h6>CREATIVITY TAKES COURAGE</h6>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nesciunt aperiam
                                    labore
                                    alias dolores deserunt dolorum officiis quis! Vero doloremque rem labore ipsam cum
                                    voluptate tempora sunt veniam eum eos.</p>
                            </div>
                        </div>
                        <div class="story">
                            <div class="upper">
                                <img src="assets/images/image-3.avif" alt="">
                            </div>
                            <div class="lower">
                                <div class="title">
                                    <p>MARTIN SMITH 29 JULY , 2016</p>
                                </div>
                                <h6>CREATIVITY TAKES COURAGE</h6>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nesciunt aperiam
                                    labore
                                    alias dolores deserunt dolorum officiis quis! Vero doloremque rem labore ipsam cum
                                    voluptate tempora sunt veniam eum eos.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <section class="client-logo">
                <div class="container">
                    <h1>Our Partner</h1>
                    <div class="row logos">

                        <div class="col-lg-3 col-md-3 col-sm-3 col-6 logo">
                            <img src="assets/images/client-logo-1.png" alt="">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-6 logo">
                            <img src="assets/images/client-logo-2.png" alt="">
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-6 logo">
                            <img src="assets/images/client-logo-3.png" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section class="help-form">
                <div class="container">
                    <div class="row form-content">
                        <div class="col-lg-6 col-md-12 left"
                            style="background-image: url('assets/images/form-image.avif'); background-size: cover;">
                        </div>
                        <div class="col-lg-6 col-md-12 right">
                            <h6>SERVE THE HUMANITY</h6>
                            <h3>Some people really need your help</h3>


                            <div class="sign-in">
                                <a href="donar_signup">SIGN UP NOW</a>
                            </div>

                        </div>
                    </div>

                </div>
            </section>
            <section class="any-questions">
                <div class="container">
                    <div class="headings">
                        <div class="heading">
                            <h2>Contacts</h2>
                        </div>

                    </div>
                    <div class="contacts">
                        <div class=" contact">
                            <i class="fa-solid fa-location-dot"></i>
                            <h6>Contact Address</h6>
                            <p>301 The Greenhouse, <br> opposite Octent complex , Vadodara</p>
                        </div>
                        <div class="contact">
                            <i class="fa-solid fa-mobile-screen-button"></i>
                            <h6>Call Us Today!</h6>
                            <p>(M) +91 94545421235
                                <br>
                                (O) +(0265) 242333584
                            </p>
                        </div>
                        <div class="contact">
                            <i class="fa-regular fa-envelope"></i>
                            <h6>Email</h6>
                            <p>foodforgood@info.in
                                <br>
                            </p>
                        </div>
                        <div class="contact">
                            <i class="fa-regular fa-clock"></i>
                            <h6>Working Hours</h6>
                            <p>Mon to Sat - 9 AM to 11 PM
                                <br>
                                Sunday - 10 AM to 6 PM
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>