<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO Dashboard</title>
    
</head>

<body>
    <div class="container">
        <h1>NGO Dashboard</h1>
        <p>NGO ID: <%= ngoId %></p>
        <h1>Requests to You: </h1>
        <h2 class="email"></h2>
        <p class="message"></p>
        <a href="/logout">logout</a>
    </div>
    <!-- <script src="../public/js/pubnub.js"></script> -->
     <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.9.3.2.js"></script>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.9.3.2.min.js"></script>
    <script>
        console.log("In UI *******************************")
        const email = document.querySelector(".email");
        const message = document.querySelector(".message");
        const ngoId =`<%= ngoId %>`;
        console.log(ngoId);
        // const Pubnub = require("")
        var pubnub = new PubNub({
            publishKey: "pub-c-8a75198e-e9b5-4595-9707-7bee8da7c913",
            subscribeKey: "sub-c-c1f806e6-b3b7-4a4c-8f76-7d9a54d67477",
            userId: 'myUniqueUserId'
        })

        pubnub.subscribe({
            channels: [`donate${ngoId}`],
        })

        pubnub.addListener({
            message: function (m) {
                console.log(JSON.stringify(m.message.description.message));
                email.innerHTML = `Donar Email: ${JSON.stringify(m.message.email)}`;
                message.innerHTML = `Donar Message: ${JSON.stringify(m.message.description.message)}`;
                alert(m.message.email + " " +JSON.stringify(m.message.description.message));
            }
        })
    </script>
</body>

</html>