*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 70%;
    margin: 0 auto;
}
.listings
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.listing
{
    height: 300px;
    width: 400px;
}
.client-logo{
align-items: center;
padding-left: 25px;
}
.donation-section {
    margin-bottom: 40px; /* Adjust size as needed */
  }
  
  /* Or add a horizontal gap between items */
  .donation-options {
    display: flex;
    gap: 30px; /* Controls spacing between flex items */
  }